html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    overflow: hidden; /* Hide scrollbars */
}

#game-container {
    display: flex;
    justify-content: center;
}
